body {
    background-color: #a8d0e6; /*Blue*/
    font-family: monospace, sans-serif;
    color: #f76c6c; /*Pink*/
    padding: 0px;
}
/*Text Styling*/
h1 {
    display: flex;
    justify-content: center;
}
.h1BackgroundColour {
    background-color: white;
}
p {
    font-weight: bold;
}
/*Options and Grid, Styling and Positioning*/
#optionsAndGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;  
}
#userOptions {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    background-color: #b39bc8; /*Purple*/
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    color: white;
}
#gridParent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 12px;
    height: 630px;
    width: 630px;
    background-color: #f8e9a1; /*Yellow*/
}
#grid {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    height: 620px;
    width: 620px; 
}
.row {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
}
.box {
    background-color: white;
    width: 2rem;
    height: 2rem;
    padding: 0px;
    border: solid;
    border-width: 0.01rem;
    border-color: grey;
}
/*User Input*/
#userInputParent {
    display: flex;
    width: 10rem;
}
#userInputDiv {
    display: flex;
    flex-direction: column;
    width: 10rem;
}
/*Buttons*/
#clear {
    margin-top: 1rem;
}
button {
    font-family: monospace;
    background-color: #f76c6c;
    border-color: white;
    border-radius: 1rem;
    margin: 0.5rem;
    color: white;
}