body {
    background-color: #a8d0e6;
    font-family: monospace, sans-serif;
    color: #f76c6c;
}
h1 {
    display: flex;
    justify-content: center;
}
#optionsAndGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}
#userOptions {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    background-color: #b39bc8;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    color: white;
}

#gridParent {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2rem;
    border-radius: 12px;
    
}
#grid {
    
    display: flex;
    flex-direction: column;
    padding: 0rem;
  
}
.row {
    
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
}
.box {
    background-color: white;
    width: 2rem;
    height: 2rem;
    padding: 0px;
    border: solid;
    border-width: 0.01rem;
    border-color: grey;
    
   
}
#userInputParent {
    display: flex;
    width: 10rem;
}
#userInputDiv {
    display: flex;
    flex-direction: column;
    width: 10rem;
}
#clear {
    margin-top: 1rem;
}
button {
    font-family: monospace;
    background-color: #f76c6c;
    border-color: white;
    border-radius: 1rem;
    margin: 0.5rem;
    color: white;
}