body
{
    background-color: grey;
}
#gridParent {
    display: flex;
    align-content: center;
}
#grid {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    padding: 0px;
  
}
.row {
    
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
}
.box {
    background-color: white;
    width: 2rem;
    height: 2rem;
    padding: 0px;
   
}
#userInputParent {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
#userInputDiv {
    display: flex;
    flex-direction: column;
    width: 10rem;
    align-content: center;
    text-align: center;
    
}
